    body {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        .menu{
            box-sizing: border-box;
            text-align: center;
            font-size: 50px;
            border-bottom: 2px solid black;
            color: aqua;
        }
 
        .location {
            display: none;
            margin-top: 20px;
            padding: 10px;
            border: 1px solid #333;
            width: 300px;
            text-align: center;
        }
    #seoul:checked ~ #loc-seoul,
    #busan:checked ~ #loc-busan,
    #daegu:checked ~ #loc-daegu,
    #gwangju:checked ~ #loc-gwangju {
      display: block;
      text-align: center;
      margin: 50px auto 0;
    }