 body {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            position: relative;
        }
        div, main{
            margin: 0;
            padding: 0;
        }
        #fixFirst {
            position: fixed;
            display: flex;               
            align-items: center;         
            justify-content: center;     
            height: 50px;
            background: white;
            border-bottom: 5px solid rgb(223, 221, 221);
            width: 100%;
            color: black;
            font-family: 나눔고딕;
            padding: 0 20px;            
        }
        #img {
            position: absolute;          
            left: 20px;                
        }
         .spacer {
         height: 20px; 
        }
        main{
            display: flex;
            margin-top: 30px; 
            margin-left: 250px;
        }
        .content-box{
            display: flex;
            flex-direction: column;
        }

        .content {
         width: 150px;
         height: 100px;
         box-sizing: border-box;
         margin-left: 30px;
         font-size: 20px;
         border: 1px solid black;
         background: turquoise;
         
        }
        #co1{
            text-align: center;
            line-height: 100px;
            font-size: 20px;
            color: white;
        }
        #co2{
            text-align: center;
            line-height: 100px;
            font-size: 20px;
            color: white;
        }
        #co3{
            text-align: center;
            line-height: 100px;
            font-size: 20px;
            color: white;
        }
        #co4{
            text-align: center;
            line-height: 100px;
            font-size: 20px;
            color: white;
        }
        #co5{
            text-align: center;
            line-height: 100px;
            font-size: 20px;
            color: white;
            height: 180px;
        }
        #co6{
            text-align: center;
            font-size: 15px;
            color: black;
        }
        #co7{
            text-align: center;
            font-size: 15px;
            color: black;
        }
        #co8{
            text-align: center;
            font-size: 15px;
            color: black;
        }
        .second-box {
            background:#f5f5f5; 
            border: 1px solid #ccc;
            height: 880px;
            width: 580px;
        }



       .content > a {
           color: white;
           text-decoration: none;
           transition: 0.1s;
        }
        .content > a:focus {
           font-size: 10px;
           background-color: #ddf;
           outline: none;
        }
        .content > a:active {
           transform: scale(0.95);
        }
        #footer {
           background-color: #f2f2f2;
           color: #555;
           box-sizing: border-box;
           height: 70px;
           padding-left: 100px; 
           display: flex;
           gap: 20px;
        }